In [4]:
import keyring

# keyring.set_password('System', 'User Name', 'Password')
keyring.set_password('tiingo', 'charmingcity','134661f9fc9106d35b3272ae79f125cf29252685')

In [5]:
from tiingo import TiingoClient  #initialize your client.  #TiingoClient 패키지에서 tiingo 모듈을 가져옴 
import pandas as pd 
import keyring

In [6]:
# Tiingp API 접속환경 설정 

api_key = keyring.get_password('tiingo', 'charmingcity')
config = {}             # initialize the dictionary
config['session'] = True  #map the key 'session' to the value 'True'   #To reuse the same HTTP Session across API calls
config['api_key'] = api_key  #map the key 'goodbye' to the value 'api_key'    #저장해 둔 API_KEY값 가져오기 
# 사전 구조 config = {'session': True, 'api_key': 'api_key'}     
client = TiingoClient(config) #접속환경

# Now you can use TiingoClient to make your API calls.

In [8]:
# 티커 정보 가져오기 

tickers = client.list_stock_tickers() #list_stcok_tickers() 메서드를 통해서 티커 정보를 가져올 수 있다.
tickers_df = pd.DataFrame.from_records(tickers) # pandas.DataFrame.from_records: Convert structured or record ndarray to DataFrame.list 형태를 Pandas DataFrame 형태로 변환

In [6]:
#티커 metata 가져오기 

ticker_metadata = client.get_ticker_metadata("VNQ") #get_ticker_metadata() 메서드 내에 티커 입력
print(ticker_metadata)

{'ticker': 'VNQ', 'name': 'Vanguard Real Estate Index Fund ETF', 'description': 'The Fund employs an indexing investment approach designed to track the performance of the MSCI US Investable Market Real Estate 25/50 Index, an index that is made up of stocks of large, mid-size, and small U.S. companies within the real estate sector, as classified under the Global Industry Classification Standard (GICS). The GICS real estate sector is composed of equity real estate investment trusts (known as REITs), which include specialized REITs, and real estate management and development companies.The Fund attempts to track the Index by investing all, or substantially all, of its assets—either directly or indirectly through a wholly owned subsidiary (the underlying fund), which is itself a registered investment company—in the stocks that make up the Index, holding each stock in approximately the same proportion as its weighting in the Index. The Fund may invest a portion of its assets in the underlying fund.', 'startDate': '2004-09-29', 'endDate': '2023-05-23', 'exchangeCode': 'NYSE ARCA'}

In [18]:
ticker_history = client.get_dataframe("VNQ",                   #get_dataframe() 메서드 내에 티커를 입력하면 close(종가), high(고가), low(저가), open(시가), volumne(거래량), 수정주가, divCash(현금배당), splitFactor(주식분할 조정계수) 
                                      startDate= '2010-01-01',
                                      endDate = '2023-05-25',
                                      frequency='daily')
ticker_history

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2010-01-04 00:00:00+00:00,44.55,45.4200,44.2000,45.2200,2408400,26.631312,27.151385,26.422087,27.031828,2408400,0.0,1.0
2010-01-05 00:00:00+00:00,44.50,44.5782,43.9300,44.5000,2054200,26.601423,26.648169,26.260685,26.601423,2054200,0.0,1.0
2010-01-06 00:00:00+00:00,44.42,44.8400,44.3000,44.5201,2471200,26.553600,26.804669,26.481866,26.613438,2471200,0.0,1.0
2010-01-07 00:00:00+00:00,44.90,45.0960,43.9500,44.4600,2091700,26.840536,26.957702,26.272641,26.577511,2091700,0.0,1.0
2010-01-08 00:00:00+00:00,44.57,44.8500,44.1800,44.8100,2682000,26.643267,26.810647,26.410131,26.786736,2682000,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-19 00:00:00+00:00,80.40,81.3050,80.0100,80.8900,4803408,80.400000,81.305000,80.010000,80.890000,4803408,0.0,1.0
2023-05-22 00:00:00+00:00,80.89,81.3800,80.0457,80.4700,4839059,80.890000,81.380000,80.045700,80.470000,4839059,0.0,1.0
2023-05-23 00:00:00+00:00,80.13,81.5450,80.0300,80.7100,5460118,80.130000,81.545000,80.030000,80.710000,5460118,0.0,1.0
2023-05-24 00:00:00+00:00,78.41,79.9000,78.3200,79.6800,4910677,78.410000,79.900000,78.320000,79.680000,4910677,0.0,1.0
2023-05-25 00:00:00+00:00,78.40,78.9750,77.8100,78.7900,4809594,78.400000,78.975000,77.810000,78.790000,4809594,0.0,1.0

In [42]:
# 무료 버전은 다우지수 30개 기업에 해당 메서드를 제공하여 월트 디즈니(DIS)로 진행

In [14]:
# 매일 가치지표 (시가총액, 기업가치, PER, PBR)

fundamentals_daily = client.get_fundamentals_daily('DIS')         #get_fundamentals_daily() 메서드 내에 티커를 입력하면 시가총액, 기업가치, PER, PBR, PEG 정보가 JSON 형태로 받아지며, from_record() 메서드를 통해 데이터프레임 형태로 변경해 준다. 
fundamentals_daily_df = pd.DataFrame.from_records(fundamentals_daily) #JSON 형태로 온 데이터를 dataframe 형태로 전환 

fundamentals_daily_df

,date,marketCap,enterpriseVal,peRatio,pbRatio,trailingPEG1Y
0,2020-05-26T00:00:00.000Z,2.184680e+11,2.595750e+11,40.599882,2.416494,-0.437987
1,2020-05-27T00:00:00.000Z,2.195156e+11,2.606226e+11,40.794573,2.428082,-0.440087
2,2020-05-28T00:00:00.000Z,2.108816e+11,2.519886e+11,39.190047,2.332581,-0.422777
3,2020-05-29T00:00:00.000Z,2.118751e+11,2.529821e+11,39.374668,2.343570,-0.424769
4,2020-06-01T00:00:00.000Z,2.145303e+11,2.556373e+11,39.868110,2.372939,-0.430092
...,...,...,...,...,...,...
764,2023-05-19T00:00:00.000Z,1.669243e+11,2.050433e+11,40.505778,1.705764,0.239352
765,2023-05-22T00:00:00.000Z,1.677831e+11,2.059021e+11,40.714182,1.714540,0.240584
766,2023-05-23T00:00:00.000Z,1.641285e+11,2.022475e+11,39.827356,1.677194,0.235343
767,2023-05-24T00:00:00.000Z,1.627581e+11,2.008771e+11,39.494796,1.663189,0.233378
768,2023-05-25T00:00:00.000Z,1.610587e+11,1.991777e+11,39.082422,1.645824,0.230942

In [17]:
fundamentals_daily_df.to_csv('disney.csv')